.image{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color:#cc7e3e;
width: 840px;
padding: 10px;
flex-direction: column;
margin-left: 25%;
border-bottom: 10px solid black;
border-left: 5px solid black;
border-right: 5px solid black;
border-top: 5px solid black;
}  
.image h1{
    text-align: center;
    background-color:#DFD0A6;
}
.image__title{
    background-color:#D1A683;
    margin-left: 25%;
    padding: 30px; 
    width: 800px; 
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 10px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    
}
.image h1:hover{
    background-color:#e9c6a9;;
}
.image__title img{
padding: 10px;

}


.image__container{
    margin-left: 25%;
    padding:30px;
    width: 800px;
    flex-direction: row;
    display:flex;
    background-color:#D1A683;  
    justify-content: center; 
    justify-content: space-between;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}


.image__container img{
    padding: 10px;
}